.search-icon {
    content: url(../../assets/imgs/search.svg);
}

.search-grey-icon {
    content: url(../../assets/imgs/search-grey.svg);
    width: 12px;
}

.tile-icon {
    content: url(../../assets/imgs/tile.svg);
    width: 20px;
}

.list-icon {
    content: url(../../assets/imgs/list.svg);
    width: 20px;
}

.back-icon{
    content: url(../../assets/imgs/back.svg);
    width: 20px;
}

.next-icon{
    content: url(../../assets/imgs/back.svg);
    transform: rotate(180deg);
    width: 20px;
}

.history-icon{
    content: url(../../assets/imgs/history.svg);
    width: 20px;
}

.soundcloud-icon{
    content: url(../../assets/imgs/soundcloud.svg);
}

.soundcloud-grey-icon{
    content: url(../../assets/imgs/soundcloud-grey.svg);
    width: 90px;
}

.genre-icon{
    content: url(../../assets/imgs/genre.svg);
    width: 15px;
}

.clock-icon{
    content: url(../../assets/imgs/clock.svg);
    width: 15px;
}

.prev-page-icon{
    content: url(../../assets/imgs/prev-page.svg);
    width: 15px;
}
