// Colors
$clr1: #ff4137;
$clr2: #ff5836;
$clr3: #fe6d35;
$clr4: #ff7f34;
$clr5: #ff9533;
$clr6: #ffe9e1;
$clr7: #f0f0f2;
$clr8: #f6f7fb;
$clr9: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$w-mobile-breakpoint: 530px;
$w2-mobile-breakpoint: 750px;
$narrow-breakpoint: 820px;
$normal-breakpoint: 1040px;
$desktop-breakpoint: 1400px;
