.history-container {
    grid-column: 5;

    .history-title {
        margin-bottom: 15px;
        .history-icon {
            width: 30px;
            margin-right: 10px;
        }

        .text{
            font-weight: bold;

        }
    }
    .history-row {
        padding: 10px 0 10px 20px;
        width: 100%;
        border-bottom: 1px solid $clr7;
        > *:not(:last-child) {
            margin-inline-end: 10px;
        }

        &:hover {
            background-color: $clr6;
        }
    }
}
